<!DOCTYPE html>
<html lang="fr">
    <head>
    <title>BeatMyDJ</title>
    <meta charset="utf-8">
    <link rel="icon" href="{{asset('images/logo.png')}}" />

    <!-- LIB CSS -->
    <link rel="stylesheet" href="{{asset('lib/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('lib/bootstrap/css/boostrap-social.css')}}">
    <link rel="stylesheet" href="{{asset('lib/jquery-ui/jquery-ui.min.css')}}" />
    <link rel="stylesheet" href="{{asset('lib/jquery-ui/jquery-ui.structure.min.css')}}" />
    <link rel="stylesheet" href="{{asset('lib/jquery-ui/jquery-ui.theme.min.css')}}" />
    <link rel="stylesheet" href="{{asset('lib/editable/css/bootstrap-editable.css')}}">
    <link rel="stylesheet" href="{{asset('lib/bootstrap/css/gallery.css')}}">
    <link rel="stylesheet" href="{{asset('lib/bootstrap/css/bootstrap-image-gallery.min.css')}}">
    <script src="{{asset('lib/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('lib/jquery-ui/jquery-ui.min.js')}}"></script>
    <script src="{{asset('lib/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('lib/bootbox/bootbox.min.js')}}"></script>
    <script type="text/javascript"> bootbox.setLocale("fr"); </script>
    <script src="{{asset('lib/soundclood/sc.js')}}"></script>
    <script src="{{asset('lib/soundclood/sc_widget.js')}}"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- CUSTOM JS -->
    <script src="{{asset('js/script.js')}}"></script>
    <script src="{{asset('js/bootstrap-editable.js')}}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        	<script src="{{ asset('js/main.js') }}"></script>
    	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{asset('css/fullcalendar.css')}}" />
    <link rel="stylesheet" href="{{asset('css/tchat.css')}}" />
        <link rel="stylesheet" href="{{asset('css/nouislider.min.css')}}" />
    
    
    <link rel="stylesheet" href="{{asset('css/live_tchat.css')}}" />
    <link rel="stylesheet" href="{{asset('css/main.css')}}" />
    	<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600'
		rel='stylesheet' type='text/css'>
	<link
		href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css"
		rel="stylesheet">
     {% if Streaming is defined %}
    <link rel="stylesheet" href="{{asset('css/stream.css')}}" />
	{% endif %}
    <link rel="stylesheet" href="{{asset('css/jquery.datetimepicker.css')}}" />
    </head>

    <body ng-app="beatMyDj">
    {% if Streaming is not defined %}
		{% include 'header.html.twig' %}
	{% endif %}
        <div id="main_content" class="container-fluid col-md-12">
	        {% block body %}{% endblock %}
        </div>     
        
         {% if Streaming is not defined %}
        <div  ng-controller="ChatController">
            {% include 'discussionBox.html.twig' %}
        </div>        

        <hr class="featurette-divider">


        <div class="formAvis" id="avis" hidden>
            <div class="starRating" >
                <p class="pull-right"> La note de BeatMyDJ </p> 
                <div class="divstar"> 
                    <input class="star star-5" id="star-5" type="radio" name="star"/>
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                    <label class="star star-1" for="star-1"></label> 
                </div>
            </div>
            <div class="avisarea">
                <p >Un avis ? </p>
                 <textarea id="textavis" name="avis"> </textarea>
                 <div>
                    <button class="SendReview MainButtonBMD buttonBlue">Envoyer</button>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
    {% block javascripts %}{% endblock %}   
        {% if Streaming is not defined %}
    {% include 'footer.html.twig' %}
        <script src="{{asset('js/search.js')}}"></script>
    <script src="{{ asset('js/chat.js') }}"></script>  
    
                        {% endif %}
    
            
</html>
