        <footer>
            <div class="footer">
                <div class="col-md-2">
                    <a id="logolink" href="{{path('homepage')}}">
                      <img id="brand_logo" class="navbar-brand" src="{{asset('images/logo.png')}}" alt="LOGO" />
                      <p id="logotext">BEAT MY DJ</p>
                      <p class="pull-left" id="copyright">&copy; 2017 BeatMyDJ</p>
                    </a>
                </div>
                <div class="col-md-5 footerText">
				<p>
				BeatMYDJ est une plateforme de mise en relation entre dj et des organisateurs de soirée. Il vous suffit simplement de se rendre sur notre plateforme, commander un DJ pour votre soirée, brancher vos enceintes et profiter de la musique ainsi que de vos invités.
				</p>

				<p>
				Vous l’aurez compris, BeatMYDJ propose un total accompagnements musicale de votre soirée afin que vous n’aillez qu’une seule chose à vous occuper : Vous amuser !
				</p>

                </div>
                <div class="col-md-2">
                  <span>Liens utiles</span>
                    <ul class="Ulfooter">
                      <li>
                        <a target="_blank"  href="{{path('homepage')}}">
                            > Accueil
                        </a>
                      </li>
                      <li>
                        <a target="_blank"  href="{{path('contact')}}">
                          > Nous contacter
                        </a>
                      </li>
                      <li>
                        <a target="_blank"  href="{{path('mentions')}}">
                          > Mentions légales
                        </a>
                      </li>
                    </ul>
                </div>
                

                <div class="col-md-3 SocialNetwork">
						<div class="SocialNetworkFooter">
                        <a target="_blank" href="https://www.facebook.com/Beatmydj/">
                            <span class="">
                            <img src="{{asset('images/Facebook.png')}}" alt=""/>REJOIGNEZ NOUS !</span>
                        </a>
                    </div>
                    <div class="SocialNetworkFooter">
                        <a target="_blank"  href="https://www.twitter.com/Beatmydj/">
                             <span  class=""><img src="{{asset('images/Twitter.png')}}" alt="" class="" />SUIVEZ NOUS !</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer> 
<!-- LIB JS -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjRI3sxSGljeb_mtuamWHQdjQRriwYz08&amp&callback=initMap"> </script>
<!-- ANAL LYTICS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102487631-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="tab-footer" ng-controller="FooterController">
<button type="button" class="btn btn-secondary review" ng-click="userReview()">Ton avis</button>
</div>
