{% extends 'base.html.twig' %}

{% block body %}

<h2>Nous contacter</h2>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2">
		<figure class="">
		    <img src="{{asset('/images/benzai_l.jpg')}}" width="75" height="90" />            
		</figure>
		  Lasaad BEN ZAIED<br />
		    benzai_l@etna-alternance.net<br />
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">
		<figure class="">
		    <img src="{{asset('/images/brites_f.jpg')}}" width="75" height="90" />            
		</figure>
		  Fabio Brites Marques<br />
		    brites_f@etna-alternance.net<br />
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">
		<figure class="">
		    <img src="{{asset('/images/handou_o.jpg')}}" width="75" height="90" />            
		</figure>
		  Oualid Handoua<br />
		    handou_o@etna-alternance.net<br />
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">
		<figure class="">
		    <img src="{{asset('/images/merabe_t.jpg')}}" width="75" height="90" />            
		</figure>
		  Tarik MERABET<br />
		    merabe_t@etna-alternance.net<br />
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-2">
		<figure class="">
		    <img src="{{asset('/images/ninot_k.jpg')}}" width="75" height="90" />            
		</figure>
		  Kévin NINOT<br />
		    ninot_k@etna-alternance.net<br />
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">
		<figure class="">
		    <img src="{{asset('/images/panoff_a.jpg')}}" width="75" height="90" />            
		</figure>
		  Axel PANOFF<br />
		    panoff_a@etna-alternance.net<br />
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">
		<figure class="">
		    <img src="{{asset('/images/dhiab_m.jpg')}}" width="75" height="90" />            
		</figure>
		  Mehdi DHIAB<br />
		    dhiab_m@etna-alternance.net<br />
		</div>

</div>


<h2>Nous Rencontrer</h2>
<iframe  frame src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d17674.763069594916!2d2.378720846478873!3d48.813015762664804!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e673b343b43e61%3A0x66b66ebde18b80a1!2s7+Rue+Maurice+Grandcoing%2C+94200+Ivry-sur-Seine!5e0!3m2!1sfr!2sfr!4v1449770951565" width="633" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

<h2>Transport</h2>
	<ul>
		<li><strong>Métro 7</strong>, arrêt Mairie d'Ivry, </li>
		<li><strong>RER C</strong>, arrêt Ivry-sur-Seine, </li>
		<li><strong>Bus 125 et bus 323</strong>, arrêt Molière</li>
	</ul>
{% endblock %}



{% block javascripts %}

<script src="{{ asset('js/nouislider.min.js') }}"></script>
<script src="{{ asset('js/liste_dj.js') }}">
</script>

<script src="{{asset('lib/jquery/gallery.js')}}"></script>
<script src="{{asset('lib/jquery/bootstrap-image-gallery.min.js')}}"></script>
{% endblock %}
