	{% extends 'base.html.twig' %}

	{% block body %}

<div class=" featurette">
	<!-- BALISE SOUNDCLOOD -->
    <h2 class="titleBMD">Notre playlist</h2>
      		 <div class="col-md-10 col-md-offset-1" id="play_sound"> </div>
</div>
    <hr class="featurette-divider">


<div class="row featurette bluebkg"> 
		<h2 class="titleBMD">Nos DJs</h2>
	<div class="col-md-6">  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- CARROUSSEL -->
    <div class="carousel-inner">

       {% for user in randomUsers %}
       <div class="item">
          <img src="{{asset('uploads/dj_photos/')}}{{user.path}}">
          <div class="carousel-caption">
            <h3>{{user.userName}}</h3>
            <p>{{user.presentation}}</p>
          </div>
        </div>
    {% endfor %} 
          {% if lastUser %}
        <div class="item active">
          <img src="{{asset('uploads/dj_photos/')}}{{lastUser.path}}">
          <div class="carousel-caption">
            <h3>{{lastUser.userName}}</h3>
            <p>{{lastUser.presentation}}</p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
	</div>
	<div class="col-md-6">
    <div class="list-BMD">
<ul>
<li><p class="" data-target="#myCarousel" data-slide-to="8">{{lastUser.userName}}</p></li>

    {% for key,user in randomUsers %}
        <li><p class="" data-target="#myCarousel" data-slide-to="{{key}}">{{user.userName}}</p></li>
    {% endfor %}

<li><a href="{{ url('liste_dj') }}">Plus de DJ</a></li>
</ul>
</div>
		



			
		</div>	
	</div>
</div>

<div class="row featurette">

<div class="col-md-6">
  <img class="featurette-image img-responsive center-block" src="{{asset('images/disque.png')}}" style="opacity: 0.5;">
</div>
	<div class="col-md-6">
		<h4 class="col-md-6 col-md-offset-1 titleBMD">Soirée dans votre région</h4>
		<div id="googleMap" class="col-md-10 col-md-offset-1" style="height: 400px;"></div>
	</div>     
</div>

{% endblock %}

{% block javascripts %}
  <!-- BALISE JAVASCRIPT -->
	<script src="{{asset('js/soundclood_accueil.js')}}"></script>
	<script src="{{asset('js/map_evenements.js')}}"></script>	
	<script src="{{asset('js/map_home.js')}}"></script>
{% endblock %}