{% extends 'base.html.twig' %}

{% block body %}
   	
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Liste des DJs</h1>
        </div>
	<hr>
	   	
	<div class="row">


		{% if form is defined %}
    <div id="advanced_search" class="col-md-3">
	   		{{ form(form, {'method': 'GET'}) }}
			{{ form_start(form, {'attr': {'class': 'form-horizontal','id': 'style-form-listeDJ'}}) }}                		  
			{{ form_end(form) }}        		    
	    </div>
{% endif %}
	   	
		 <div class="container">
        
        <div align="center">


<input type="checkbox" name="Tous" id="Tous" data-filter="Tous" class="css-checkbox filter-button" />
        			<label for="Tous" class="css-label">Tous</label>
            			
        	{% if listeStyle is not null %}
        		{% for style in listeStyle %}
        			<input type="checkbox" name="{{ style|trans|replace({' ':''})|replace({'é':'e'})}}{% if not loop.last%}{% endif %}" id="{{ style|trans|replace({' ':''})|replace({'é':'e'}) }}{% if not loop.last%}{% endif %}" class="css-checkbox filter-button"   data-filter="{{ style|trans|replace({' ':''})|replace({'é':'e'}) }}{% if not loop.last%}{% endif %}" />
        			<label for="{{ style|trans|replace({' ':''})|replace({'é':'e'}) }}{% if not loop.last%}{% endif %}" class="css-label">{{ style|trans }}{% if not loop.last%}{% endif %}</label>
            			
        		{% endfor %}
        	{% endif %}

            </div>
        <br/>

<div class="row">
	   		{% for user in users %}

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter all {% for style in user.styleText %} {{ style|trans|replace({' ':''})|replace({'é':'e'})}}{% if not loop.last%}{% endif %}{% if not loop.last%}{% endif %} {% endfor %}">
               <a href="{{asset('uploads/dj_photos/')}}{{user['path']}}" title="{{user['userName'] | capitalize }}">
						<img src="{{asset('uploads/dj_photos/')}}{{user['path']}}" alt="{{user['userName'] | capitalize }}" class="img-gallery " />
					</a>
					<div class="liste_dj_desc_div">
						<form action="{{path('profil')}}/{{user['userName']}}">
    						<input type="submit" value="{{user['userName'] | capitalize }}" class="MainButtonBMD buttonBlue"/>
						</form>
						
					</div>
            </div>
             {% endfor %}
        </div>
    </div>

	</div>
    
    
    <div id="blueimp-gallery" class="blueimp-gallery">
	    <!-- The container for the modal slides -->
	    <div class="slides"></div>
	    <!-- Controls for the borderless lightbox -->
	    <h3 class="title"></h3>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <a class="close">×</a>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	    <!-- The modal dialog, which will be used to wrap the lightbox content -->
	    <div class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title"></h4>
	                </div>
	                <div class="modal-body next">
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default prev pull-left">
	                        <i class="glyphicon glyphicon-chevron-left"></i>
	                        Previous
	                    </button>
	                    <button type="button" class="btn btn-default next">
	                        Next
	                        <i class="glyphicon glyphicon-chevron-right"></i>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
    
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
    $("{% if listeStyle is not null %}{% for style in listeStyle %} #{{ style|trans|replace({' ':''})|replace({'é':'e'})}},{% if not loop.last%}{% endif %} {% endfor %}{% endif %} #Tous").click(function(){
 		 $('input:checkbox').attr('checked',false);
 		 $(this).prop('checked',true);
        let value = $(this).attr('data-filter');
        if(value == "Tous")
            $('.filter').show('1000');
        else
        {
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');          
        }
    });
    
    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

</script>

	<script src="{{asset('lib/jquery/gallery.js')}}"></script>
	<script src="{{asset('lib/jquery/bootstrap-image-gallery.min.js')}}"></script>
{% endblock %}
