{% extends 'base.html.twig' %}

{% block body %}
<div class="advancedSearch" id="advancedSearchId" ng-controller="ListeController"
	ng-init="photosUrl = '{{asset('uploads/dj_photos/')}}'; profilUrl = '{{path('profil')}}'">
	<div class="row Searchfiltre">
		<div class="col-md-5 style">
			<h3>Par Style</h3>
			<form id="formStyle">
				<div class="blockStyle">
					<input type="checkbox" ng-model="allstyle"
						ng-change="reloadAllform()" name="Tous" id="Tous"
						data-filter="Tous" class="css-checkbox filter-button" checked />
					<label for="Tous" class="css-label search-checklabel">Tous</label>

					{% if listeStyle is not null %}
					{% for style in listeStyle %}
					{%  if loop.index%5 == 0 %}
				</div>
				<div class="blockStyle">
					{% endif %}
					<input type="checkbox"
						ng-model="style.{{ style|lower|replace({' ':''})|replace({'é':'e'})}}"
						ng-change="refreshForm()"
						name="{{ style|trans|replace({' ':''})|replace({'é':'e'})}}{% if not loop.last%}{% endif %}"
						id="{{ style|trans|replace({' ':''})|replace({'é':'e'}) }}{% if not loop.last%}{% endif %}"
						class="css-checkbox filter-button"
						data-filter="{{ style|trans|replace({' ':''})|replace({'é':'e'}) }}{% if not loop.last%}{% endif %}" />
					<label
						for="{{ style|trans|replace({' ':''})|replace({'é':'e'}) }}{% if not loop.last%}{% endif %}"
						class="css-label search-checklabel">{{ style|trans }}
						{% if not loop.last%}
						{% endif %}</label>

					{% endfor %}
				</div>
				{% endif %}
			</form>
		</div>
		<div class="col-md-2 prix">
			<h3>Par Prix</h3>
			<div id="range"></div>
		</div>
		<div class="col-md-3 experiencesDiv">
			<h3>Par Experiences</h3>
			<form id="formSearchExperience" enctype="multipart/form-data">
			<span class="experience"> <label> <span
						class="experience-Text"> Aucune
					</span> <input type="radio" ng-model="experience" ng-change="refreshForm()"  name="experiences" value="-1" checked="checked">
				</label>
				{% for key , experience in constant('AppBundle\\Constant\\BMDJConstant::USER_EXPERIENCE') %}
				<span class="experience"> <label> <img
						class="image-experience"
						src="{{ asset('images/experiences/')}}{{ key}}.png" /> <span
						class="experience-Text"> {{ experience | convert_encoding('UTF-8', 'ISO-8859-1') }}
					</span> <input type="radio" ng-model="experience" ng-change="refreshForm()"  name="experiences" value="{{ key}}">
				</label>
				</span>
				{% endfor %}
			</form>
		</div>
	</div>
	<div class="row content djResults">



		<span style="display: none">{{asset('uploads/dj_photos/')}}</span>
		<div ng-repeat="user in DJS"
			class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter all">
			<a href="{[{photosUrl}]}/{[{user['path']}]}"
				title="{[{user['userName']}]}"> <img
				src="{[{photosUrl}]}/{[{user['path']}]}"
				alt="{[{user['userName']}]}" class="img-gallery " />
			</a>
			<div class="liste_dj_desc_div">
				<form class="djChooseForm"
					action="{[{profilUrl + '/' + user['userName']}]}">
					<input type="submit" value="{[{user['userName']}]}"
						class="djButton" />
				</form>

			</div>
		</div>
	</div>
</div>

</div>


<div id="blueimp-gallery" class="blueimp-gallery">
	<!-- The container for the modal slides -->
	<div class="slides"></div>
	<!-- Controls for the borderless lightbox -->
	<h3 class="title"></h3>
	<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a> <a
		class="play-pause"></a>
	<ol class="indicator"></ol>
	<!-- The modal dialog, which will be used to wrap the lightbox content -->
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body next"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default prev pull-left">
						<i class="glyphicon glyphicon-chevron-left"></i> Previous
					</button>
					<button type="button" class="btn btn-default next">
						Next <i class="glyphicon glyphicon-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}

{% block javascripts %}

<script src="{{ asset('js/nouislider.min.js') }}"></script>
<script src="{{ asset('js/liste_dj.js') }}">
</script>

<script src="{{asset('lib/jquery/gallery.js')}}"></script>
<script src="{{asset('lib/jquery/bootstrap-image-gallery.min.js')}}"></script>
{% endblock %}
